*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  margin-left: 100px;
  width: 85%;
  align-items: center;
}

body{
  font-family:'Poppins', sans-serif;
  display: block;
}

button{
  width: 150px;
  height: 40px;
  margin: 15px 10px 0px 0px;
  padding: 5px 0px 0px 0px;
  background: transparent;
  background-color: white;
  border: solid rgb(153, 78, 153) 2px;
  cursor: pointer;
  background: linear-gradient(to right, rgb(114, 1, 114), rgb(212, 106, 216) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:'Poppins', sans-serif;
}

/* header */
header .container{
  margin:30px 0px 0px 100px;
  width: 85%;
  display: flex;
  height: 10vh;
  align-items: center;
  animation: drop 1.5s ease;
}

.logo, .cart{
  flex: 1;
}

.logo img{
 float: left;
 margin-right: 20px;
}

nav{
  flex: 3;
}

.nav_links{
  list-style: none;
  margin-left: 70px;
}

.nav_link{
  text-align: center;
  float: left;
  margin-left: 10px;
}

.nav_link a{
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.nav_link:last-of-type{
  margin-left: 50px;
}

.cart img{
  float: right;
  z-index: 1;
}


/* Main */
main .container{
  width: 92%;
  height: 70vh;
  float: left;
  display: flex;
  position: relative;
}

.introduction, .cover{
  flex: 1;
  animation:show_right 1.5s ease;
}

.intro-text h1{
  background: linear-gradient(to right, rgb(153, 78, 153), white );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cover{
  float: right;
  animation:show_left 1.5s ease;
}

.cover img{
  margin-left: 120px;
  height: 60vh;
  filter: drop-shadow(0px 6px 5px black);
  
}

.cta{
  margin: 30px 0px 0px 60px;
}

/* dots */
.dots{
 width: 15%;
 display: flex;
 justify-content: space-around;
 float: right;
 margin-right: 15vw;
}

/* background */
.big-img, .mid-img, .small-img{
  position:absolute;
  top:0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 95%;
}

.mid-img{
  top: 20%;
  right: 35%;
  opacity: 0.4;
  height: 80%;
}
.small-img{
  top: 70%;
  right: 68%;
  opacity: 1;
  height: 30%;
}

/* animation */
@keyframes drop{
  0%{
    opacity: 0;
    transform: translateY(-80px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes show_right{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}


@keyframes show_left{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Responsive */
@media screen and (max-width:1000){
    main .container{
      flex-direction: column;
    }

}